@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap');

@font-face {
    font-family: 'jalnan';
    src: url('../font/Jalnan.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}





.wrap {
    width: 100%;
}

.max_w {
    height: 100%;
    margin: 0 260px;
}





/* 헤더 */
header {
    width: 100%;
    height: 100px;
}

.depth_1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.depth_1 li {
    float: left;
    margin: 0 22px;
    position: relative;
}

.depth_1 li a {
    color: #3C3C3C;
    font-size: 18px;
}

.menu_btn::before { /* 메뉴 아이콘 */
    content: '';
    display: inline-block;
    padding-right: 12px;
    width: 16px;
    height: 16px;
    background: url('../image/menu_icon.png') no-repeat;
    background-position: 50%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.login_btn {
    width: 100px;
    height: 36px;
    background-color: #E73442;
    border-radius: 18px;
    text-align: center;
}

.depth_1 .login_btn a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 36px;
    color: #fff;
}





/* 메인 */
main .max_w .logo {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}
main .container .logo h1 {
    width: 472px;
    height: 82px;
}
main .container .logo h1 img {
    width: 100%;
    height: 100%;
}





/* 검색창 */
.search_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

.search_area form{
    width: 827px;
    height: 75px;
    position: relative;
}

.search_area form .search_icon {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    width: 31px;
    height: 31px;
    background: url('../image/search_icon.png') no-repeat;
    background-size:contain;
    background-position: 50%;
}

.search_area form input {
    width: 100%;
    height: 100%;
    padding-left: 100px;
    font-size: 30px;
    border-radius: 40px;
    border: 1px solid #AAAAAA;
}
.search_area form input:focus {
    outline: none;
}





/* 자동차 */
.car_area {
    width: 770px;
    height: 75px;
    position: relative;
    overflow: hidden;
}

.car {
    position: absolute;
    top: 19px;
    left: 0;
    width: 69px;
    height: 69px;
    animation: carmove 8s infinite linear;
}
@keyframes carmove {
    0% {
        left: 0;
    }
    70% {
        left: 1050px;
    }
    100% {
        left: 1050px;
    }
}

.car img {
    width: 100%;
    height: 100%;
}





/* 하단 아이콘 */
.icon_area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 26px;
    width: 370px;
    margin: 75px auto;
}

.icon_area .box {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    box-shadow: 0 0.94px 5px rgba(0, 0, 0, 20%);
}

.icon_area .box a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.icon_area .box a .icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon1 {
    background: url('../image/motel_icon.png');
}
.icon2 {
    background: url('../image/hotel_icon.png');
}
.icon3 {
    background: url('../image/pension_icon.png');
}
.icon4 {
    background: url('../image/gh_icon.png');
}
.icon5 {
    background: url('../image/camping_icon.png');
}
.icon6 {
    background: url('../image/other_icon.png');
}

.icon_area .box a .bg {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 1;
}

.icon_area .box a .bg p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 100%;
    font-family: 'jalnan';
    font-size: 16px;
    text-align: center;
    line-height: 1.4;
    color: #fff;
}

.bg1 {
    background: url('../image/motel_bg.png');
}
.bg2 {
    background: url('../image/hoter_bg.png');
}
.bg3 {
    background: url('../image/pension_bg.png');
}
.bg4 {
    background: url('../image/gh_bg.png');
}
.bg5 {
    background: url('../image/camping_bg.png');
}
.bg6 {
    background: url('../image/other_bg.png');
}